<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.gitupdate</string>
    <key>Program</key>
    <string>/Users/timo/.dotfiles/clone.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/gitupdate.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/gitupdate.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>SHELL</key>
        <string>/bin/zsh</string>
    </dict>
</dict>
</plist>
